body{
    background-image: url(../images/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.w3-card-4 {
    margin: 0;
    margin-top: 150px;
}

.card.text-center {
    margin: auto;
    margin-top: 200px;
}

.w3-modal-content {
  margin: auto;
  
}

#searchbutton{
    margin-left: 85px;
    margin-top: 10px;
    text-align: center;
}

#tbl-img{
    height:55px;
    width: auto;
}

